In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.datasets import

In [4]:
housing = pd.read_csv('house_prices_13.csv')

In [5]:
housing.head()

   area  price  bedrooms  servant_room  balconies  age
0  1000  20000         1             0          1    5
1  2500  25000         2             1          1    6
2  3000  30000         3             2          2    7
3  6000  50000         5             4          3    8
4  8000  80000         8             5          4   10

In [9]:
reg = LinearRegression()
reg.fit(housing[['bedrooms','servant_room','balconies']],housing.price)
print("Prediction of price with 7 bedrooms, 3 servant room, 2 balconies is : ",reg.predict([[7,3,2]]))

Prediction of price with 7 bedrooms, 3 servant room, 2 balconies is :  [75000.]

C:\Users\dhruv\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(