In [7]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
insurance = pd.read_csv('insurance_data.csv')

In [3]:
insurance.head()

   age  bought_insurance
0   19                 1
1   18                 0
2   28                 1
3   33                 1
4   32                 0

In [13]:
x_train,x_test,y_train,y_test = train_test_split(insurance[['age']],insurance.bought_insurance,test_size=0.2)

In [18]:
log = LogisticRegression()
log.fit(x_train,y_train)
log.predict(x_test)
print("Accuracy:", log.score(x_test, y_test)*100)

Accuracy: 50.0