Perform other matrix operations like converting matrix data to absolute values, taking the
negative of matrix values, additing/removing rows/columns from a matrix, finding the maximum
or minimum values in a matrix or in a row/column, and finding the sum of some/all
elements in a matrix

In [ ]:
import numpy as np

In [ ]:
matrix = np.array([1,2,3,4,5,-6,7,8,-9,10,11,-12]).reshape(3,4)

In [ ]:
matrix

array([[  1,   2,   3,   4],
       [  5,  -6,   7,   8],
       [ -9,  10,  11, -12]])

In [ ]:
#calculating absolute values
abss = np.absolute(matrix)

In [ ]:
abss

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
#calculating negative values 
neg = np.negative(matrix)

In [ ]:
neg

array([[ -1,  -2,  -3,  -4],
       [ -5,   6,  -7,  -8],
       [  9, -10, -11,  12]])

In [ ]:
#finding min and max in row and column
min = np.min(matrix,axis=1)

In [ ]:
min

array([  1,  -6, -12])

In [ ]:
max = np.max(matrix,axis=1)

In [ ]:
max

array([ 4,  8, 11])

In [ ]:
# appending a row in array
matt = [1,2,3,5]
new_mat = np.insert(matrix,matrix.shape[0],matt,axis=0)

In [ ]:
new_mat

array([[  1,   2,   3,   4],
       [  5,  -6,   7,   8],
       [ -9,  10,  11, -12],
       [  1,   2,   3,   5]])

In [ ]:
#appending a column in array
mom = [9,0,8]
new_mat_col = np.column_stack((matrix,mom))

In [ ]:
new_mat_col

array([[  1,   2,   3,   4,   9],
       [  5,  -6,   7,   8,   0],
       [ -9,  10,  11, -12,   8]])